/* Global */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

.stats_graphic {
  border: 1px solid black;
}

/* navigation bar */

.nav-link{
  font-size: 20px;
  color: #FF4949 !important;
}

/* forms page */

.forms-title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.hidden {
  display: none !important;
}

.btns-forms {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.forms-body{
  background-image: url('/assets/images/forms-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}



/* quiz css */

.hide {
  display: none;
}

#question-container {
  width: 600px;
  max-width: 80%;
  background-color: #F2EB85;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  margin: auto;
}

#quiz {
  height: calc(100vh - 56px);
  max-width: 100vw;
  background-image: url("/assets/img/af2.jpg");
  background-position: center;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  align-items: center;
}

.ans-btn {
  border: 1px solid black;
  margin: 5px;
  width: 5rem;
}

.ans-btn:hover {
  border: 2px solid black !important;
  background-color: #F26A4B;
}

.ans-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  background-color: #F26A4B;
  width: 10rem;
}

.start-btn:hover,
.next-btn:hover {
  border: 2px solid black !important;
}

div#response {
  max-width: 80;
  max-width: 80%;
  margin: auto;
  border: 1px solid darkgrey;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
}


.btn:first-child:hover, :not(.btn-check)+.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: #F26A4B;
  border-color: var #F26A4B ;

/* wit page */

.wit{
  background-color: #F26A4B;
  color: #fff;
}
hr{
  color: #fff !important;
}

.logo{
  width: 100px;
  height: 100px;
  padding: 20px;
}

#hero-img{
 height: 300px;
 background: url('../images/womenlanding.jpg') no-repeat bottom right;
}

.cards-container{
  min-width: 100%;
  margin-top: 22px;
}
.card-body{
  background-color: #F26A4B;
}
.card-text{
  color: #fff;
}

.btn-cards{
 background-color: #F26A4B !important;
 color: #fff !important;
}

.card-img-top{
  height: 300px;

}